<footer>
  <h2>Squads</h2>
  <ul>
    {% for squad in squads %}
      <li>
        <a href="/squad/{{ squad.name }}">
          Squad {{ squad.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</footer></body></html>