{% render 'partials/head.liquid'
  , title: 'All students' %}

<h2>Students</h2>
<ul>
  {% for person in persons %}
    <li>
      <a href="/student/{{ person.id }}">{{ person.name }}</a>
    </li>
  {% endfor %}
</ul>

{% include "partials/squad-selector.liquid"%}

{% render 'partials/foot.liquid' %}