{% render 'partials/head.liquid'
  , title: 'Front page' %}

{% include 'partials/navbar.liquid'
  , title: 'Frontend Design & Development' %}

{% include 'partials/hero.liquid'
  , 
 image1: "images/branco.png"
 image1_alt: "Branco"
  ,
 image2: "images/saif.png"
 image2_alt: "Saif"
  ,
 image3: "images/fatima.png"
 image3_alt: "Fatima"
  , 
 title: "Team Storm"
 description: "Wij zijn een gepassioneerd team van designers en developers die samenwerken om geweldige projecten te realiseren."
 button_text: "Leer Ons Kennen" 
 button_url: "#"
%}

{% include "partials/squad-selector.liquid" %}


<h2>Students</h2>
<ul>
  {% for person in persons %}
    <li>
      <a href="/student/{{ person.id }}">{{ person.name }}</a>
    </li>
  {% endfor %}
</ul>


{% render 'partials/foot.liquid' %}