<form method="post" action="/berichten">
<label>
    <input type="text" name="naam" placeholder="Vul hier je naam in" required>
</label>
<button type="submit">Submit</button>
</form>

{%for message in messages%}
    <p> {{message}}</p>
{% endfor %}